.wrap{
    max-width: 1920px;
    height: 100%;
    position: relative;
    margin: 0 auto;

}

section{
    width: 100%;  
}

section .container{
    width: 100%;
    display: flex;
    margin: 0 auto;

}

 section .con_wrap{
    width: 100%;
}


.swiper-pagination-bullet {
    background-color: #ffffff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
   background-color: #00B8FF;
    opacity: 1;
}

/* .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    padding-bottom: 100px;
} */
